[submodule "public"]
	path = public
	url = https://github.com/interkosmos-org/interkosmos-org.github.io
	branch = master
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
	branch = master
